/* Body styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}

/* Page title */
h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Section title */
h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

/* Form styles */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="datetime-local"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Link styles */
a {
  color: #337ab7;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  color: #777;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

table tr:hover {
  background-color: #f9f9f9;
}