﻿html {
    margin: 0px;
}

body {
    margin: 0px;
    margin-top: 0px;
    height: 100vh;
	background: url("../image/background.png") center/cover;
    background-size: 100vw 100vh;
    font-family: "Roboto", "Arial", sans-serif;
}

input {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #AAAAAABF;
    border-radius: 2px;
    padding: 4px;
}

input[type="text"], input[type="email"], .input-tel {
    min-width: 250px;
}

button[type="submit"] {
    background: #3F88E8 0% 0% no-repeat padding-box;
    border-radius: 32px;
    color: #FFFFFF;
    padding: 8px 26px 8px 26px;
    text-align: center;
    font-size: 14px;
    border: none;
}

.orgname--label > *,
 .fullname--label > *,
  .workpost--label > *,
   .phone--label-first > *,
    .phone > *,
     .email--label > *,
      .address--label > * {
    display: block;
}

.workpost > *,
 .fullname > *,
  .email > *,
   .address > *,
   .fullname--color > *,
   .workpost--color > * {
    display: inline-block;
}

.card-base {
    width: 30vw;
    height: 100vh;
    min-height: 630px;
    min-width: 580px;
    display: inline-block;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
}

.card-container {
    width: 80vw;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
}

.card-result {
    display: none;
    margin: 4% 0 0 0;
}

.checkbox-opacity input, .radio-buttons-label input, #add-phone, #sub-phone, .fullname--color input, .workpost--color input{
    opacity: 0;
    position: absolute;
	z-index: -1;
    display: block;
	width: 0;
	height: 0;
}

.radio-buttons {
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #AAAAAABF;
    border-radius: 2px;
    height: 25.5px;
    top: 8px;
    margin: 0 2% 0 5%;
}

.radio-buttons-label input[type=radio]:checked + div {
    background-color: #D9D9D9;
}

.card-form:first-child {
    padding: 6% 0 0 3%;
}

form > * {
    margin: 3% 0 0 0;
}

.radio-numbers {
    width: 35px;
    display: inline-block;
    height: 20.7px;
    text-align: center;
    font-size: 12px;
    vertical-align: sub;
    padding: 5px 0 0 0;
    
}

.radio-buttons-number-label {
    top: -2.3px;
    position: relative;
}

.radio-buttons-number {
    position: relative;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #AAAAAABF;
    border-radius: 2px;
    height: 25.5px;
    top: -2px;
    margin: 0 4% 0 2%;
}

.div-radio-buttons {
    display: inline-block;
    /* padding: 3px; */
    width: 30px;
    height: 25.5px;
    /* font-size: 12px; */
}

.checkbox-opacity input[type=checkbox]:checked + span:before {
    background: url("../image/ok.svg") 0 0 no-repeat;
}

.checkbox-opacity input[type=checkbox] + span:before {
    background: url("../image/empty.svg") 0 0 no-repeat;
}

.radio-buttons-left {
    background: url("../image/left.svg") center no-repeat;
}

.radio-buttons-center {
    background: url("../image/center.svg") center no-repeat;
}

.radio-buttons-right {
    background: url("../image/right.svg") center no-repeat;
}

.phone--label input[type="button"] + #span:before {
    background: url("../image/plus.svg") 0 0 no-repeat;
}

.phone--label input[type="button"] + #phoneSpanInverse:before {
    background: url("../image/minus.svg") 0 0 no-repeat;
}

.phone--label #phoneSpanInverse:before, .checkbox-opacity span:before, .phone--label #span:before {
    top: 5px;
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
}

.phone--label #span:before {
    left: -8px;
}

.phone--label #phoneSpanInverse:before {
    left: 10px;
}

.checkbox-opacity span:before  {
    left: -4px;
}

.card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 12px #00000029;
    border: 1px solid #707070A8;
    border-radius: 6px;
    min-width: 445px;
    min-height: 268px;

    /* width: 255.12px;
    height: 141.73px; */
}

p, h2 {
    margin-top: 0;
}

h2 {
    text-align: left;
    font-family: Roboto;
    font-size: 20px;
    color: #707070;
}

.label--span {
    font-family: Roboto;
    font-size: 14px;
    color: #707070;
    padding: 0 0 5px 0;
}

.phone--label {
    padding: 1.5% 0 0 0;
}

.orgname {
    margin: 6% 0 0 0;
}

.label--span-small {
    font-family: Roboto;
    font-size: 12px;
    color: #707070;
    padding: 0 0 0 8px;
}

span:hover {
    cursor: pointer;
}

.fullname--color, .workpost--color {
    margin: 1% 0 0 0;
}

#fullname--first-color-div {
    border: 13px solid #202020;
    border-radius: 13px;
}

#fullname--second-color-div {
    border: 13px solid #3F88E8;
    border-radius: 13px; 
}

#fullname--third-color-div {
    border: 13px solid #E83F56;
    border-radius: 13px; 
}

#fullname--fourth-color-div {
    border: 13px solid #097A14;
    border-radius: 13px; 
}

#fullname--fifth-color-div {
    border: 13px solid #DCA40A;
    border-radius: 13px; 
}

#fullname--sixth-color-div {
    border: 13px solid #DC0AD5;
    border-radius: 13px; 
}

.fullname--color input:checked + div {
    border: 5px solid #FFFFFF;
    position: absolute;
    margin: 8px 0 0 8px;
    border-radius: 8px; 
}

#workpost--first-color-div {
    border: 13px solid #474747;
    border-radius: 13px;
}

#workpost--second-color-div {
    border: 13px solid #202020;
    border-radius: 13px; 
}

#workpost--third-color-div {
    border: 13px solid #636363;
    border-radius: 13px; 
}

#workpost--fourth-color-div {
    border: 13px solid #9E9E9E;
    border-radius: 13px; 
}

#workpost--fifth-color-div {
    border: 13px solid #BBBBBB;
    border-radius: 13px; 
}

#workpost--sixth-color-div {
    border: 13px solid #E3E3E3;
    border-radius: 13px; 
}

.workpost--color input:checked + div {
    border: 5px solid #FFFFFF;
    position: absolute;
    margin: 8px 0 0 8px;
    border-radius: 8px; 
}
