﻿:root {
    --width: 50px;
    --height: 50px;
    --picture: url("../image/vancouver.jpg");
}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.picture {
    width: var(--width);
    height: var(--height);
    background: var(--picture);
    background-size: calc(var(--width) * 9) calc(var(--height) * 6);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.drop {
    width: var(--width);
    height: var(--height);
    background: #7a8193;
}

.boxPuzzles {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-gap: 3px;
}

#finalPicture {
    background: var(--picture);
    width: 450px;
    height: 300px;
    margin: 5px 0 0 25px;
}